 <h1>Shopping Cart</h1>

<ng-container *ngIf="cart$ | async as cart">
    <p>
        You have {{ cart.totalItems }} items in your shopping cart.
    </p>

    <table class="table">
        <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let next of cart.items">
            <td>{{ next.title }}</td>
            <td>
                <app-product-quantity [product]="next"
                                      [shopping-cart]="cart">
                    {{ next.quantity }}
                </app-product-quantity>
            </td>
            <td>{{ next.totalPrice | currency:'AUD':'symbol' }}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th>{{ cart.totalPrice | currency:'AUD':'symbol' }}</th>
        </tr>
        </tfoot>
    </table>
</ng-container>
