<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
    <input #query
           (keyup)="filter(query.value)"
           type="text"
           class="form-control" placeholder="Search...">
</p>


<table class="table table-striped" [mfData]="filtered" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
    <tr>
        <th style="width: 20%">
            <mfDefaultSorter by="title">Title</mfDefaultSorter>
        </th>
        <th style="width: 50%">
            <mfDefaultSorter by="price">Price</mfDefaultSorter>
        </th>
        <th style="width: 10%"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let next of mf.data">
        <td>{{ next.title }}</td>
        <td>{{ next.price | currency:"AUD":'symbol' }}</td>
        <td><a [routerLink]="['/admin/products', next.key]">Edit</a></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>


<!--<table class="table table-striped" #mf="mfDataTable" [mfData]="filtered" [mfRowsOnPage]="5"-->
       <!--(mfSortByChange)="sortByChange(mf)">-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th><mfDefaultSorter by="data.title">Title</mfDefaultSorter></th>-->
        <!--<th><mfDefaultSorter by="price">Price</mfDefaultSorter></th>-->
        <!--<th></th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tr *ngFor="let next of filtered">-->
        <!--<td>{{ next.data.title }}</td>-->
        <!--<td>{{ next.data.price }}</td>-->
        <!--<td>-->
            <!--<a [routerLink]="['/admin/products', next.key]">Edit</a>-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tfoot>-->
    <!--<tr>-->
        <!--<td colspan="4">-->
            <!--<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>-->
        <!--</td>-->
    <!--</tr>-->
    <!--</tfoot>-->
<!--</table>-->


<!--<table class="table">-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th>Title</th>-->
        <!--<th>Price</th>-->
        <!--<th></th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr *ngFor="let next of filtered">-->
        <!--<td>{{ next.data.title }}</td>-->
        <!--<td>{{ next.data.price }}</td>-->
        <!--<td>-->
            <!--<a [routerLink]="['/admin/products', next.key]">Edit</a>-->
        <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--<tfoot>-->
    <!--<tr>-->
        <!--<td colspan="4">-->
            <!--<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>-->
        <!--</td>-->
    <!--</tr>-->
    <!--</tfoot>-->
<!--</table>-->
