<div class="row">
    <div class="col-3">
        <div class="list-group">
            <a class="list-group-item list-group-item-action"
               [class.active]="!category"
               routerLink="/">
                All Categories
            </a>
            <a *ngFor="let next of categories$ | async"
               class="list-group-item list-group-item-action"
               routerLink="/"
               [queryParams]="{ category: next.key }"
               [class.active]="category === next.key">
                {{ next.data.name }}
            </a>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <ng-container *ngFor="let next of filtered; let i = index">

                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" [src]="next.data.imageUrl" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ next.data.title}}</h5>
                            <p class="card-text">{{ next.data.price | currency:'AUD':'symbol'}}</p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div *ngIf="i % 2 !== 0" class="w-100"></div>

            </ng-container>
        </div>
    </div>
</div>



